@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500&family=Roboto:ital,wght@0,300;1,500;1,700&display=swap');

* {
    font-family:roboto;
    font-family:roboto !important; 
}
body{
    background-image: url(https://img.freepik.com/free-vector/realistic-three-dimensional-arabic-ornamental-background_23-2148881795.jpg?w=1800&t=st=1698587020~exp=1698587620~hmac=02aa0bf666457272cb9898fce6b3f48a04571f47ce40bfe4de86332f4db352ae);
    background-size: contain;
}
.body{
    background-image: url(https://img.freepik.com/free-vector/watercolor-background-with-hand-drawn-elements_23-2148855700.jpg?w=1800&t=st=1698587200~exp=1698587800~hmac=824c16bc0661805b924b080d1dd9701fbd6fd0f0eddf510c4856d78107c53286);
    background-size: contain;
}
.card-surat{
    cursor: pointer;
    transition: .7s;
}
.card-surat:hover{
    background-color: #9eaeb0;
    box-shadow: 0 0 19px gray;
    scale: 1.0;
}
.navbar-brand:hover{
    scale: 1.2;
    color: white;
    
    
}
.navbar-brand{
    transition: all .5s ease;
}
.logo{
    text-decoration: none;
    color: aliceblue;
}
.footer{
    padding: .8rem 0;
    flex-wrap: wrap;
    background: #9eaeb0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.difooter{
    margin-left: 50px;
    font-size: 1.6rem;
}